# <font color =   #0000cc> <i> Clase 7 Programación I MCD

## <font color= #0000FF> <i> Manejo de Archivos Externos

### <font color= #33691e> <i> Archivos de Texto

Existen cuatro operaciones que podemos llevar a cabo con los archivos externos: 

    - Creación 
    - Apertura
    - Manipulación
    - Cierre

#### <b> <font color= #990000 > <i> Creando un archivo de texto nuevo

Un archivo se puede abrir en tres modos diferentes: 

    Modo Lectura (r)
    Modo Escritura (w)
    Modo Adjuntar (a)

In [3]:
from io import open

#Utilizamos el comando open, pasándole dos parámetros: El nombre del archivo y el modo en el que lo queremos abrir, evitar acentos en el nombre o en caso de erorr UTF-8 agregar el argumento , encoding='utf-8'
archivo_nuevo = open("archivo_nuevo.txt", "w")

In [5]:
texto="Estamos creando un archivo de texto desde Jupyter Notebook saludos 22-10-25 18:16"

archivo_nuevo.write(texto)

81

In [7]:
archivo_nuevo.close()

#### <b> <font color= #990000 > <i> Leyendo un archivo de texto

In [9]:
#Utilizamos el comando open, pasándole dos parámetros: El nombre del archivo y el modo en el que lo queremos abrir 
archivo_leido = open("archivo_nuevo.txt", "r")

contenido = archivo_leido.read()

archivo_leido.close()

print(contenido)

Estamos creando un archivo de texto desde Jupyter Notebook saludos 22-10-25 18:16

#### <b> <font color= #990000 > <i> Agregando información en un archivo de texto

In [11]:
#Utilizamos el comando open, pasándole dos parámetros: El nombre del archivo y el modo en el que lo queremos abrir 
archivo_leido = open("archivo_nuevo.txt", "a")

archivo_leido.write("\nEste es el tema número 7 de la Materia 22-oct-25 18:20")

archivo_leido.close()

Leemos el contenido del archivo

In [15]:
#Utilizamos el comando open, pasándole dos parámetros: El nombre del archivo y el modo en el que lo queremos abrir 
archivo_leido = open("archivo_nuevo.txt", "r")

print(archivo_leido.read())

archivo_leido.close()

Estamos creando un archivo de texto desde Jupyter Notebook saludos 22-10-25 18:16
Este es el tema número 7 de la Materia 22-oct-25 18:20

#### <b> <font color= #990000 > <i> Obteniendo las lineas de texto

In [20]:
#Utilizamos el comando open, pasándole dos parámetros: El nombre del archivo y el modo en el que lo queremos abrir 
archivo_leido = open("archivo_nuevo.txt", "r")

contenido = archivo_leido.readlines()

archivo_leido.close()

In [26]:
print(contenido[1])

Este es el tema número 7 de la Materia 22-oct-25 18:20

#### <b> <font color= #990000 > <i> Obteniendo una lista que contenga las lineas de texto

In [28]:
#Utilizamos el comando open, pasándole dos parámetros: El nombre del archivo y el modo en el que lo queremos abrir 
archivo_leido = open("archivo_nuevo.txt", "r+") #Lectura y escritura

print(archivo_leido.readlines())

archivo_leido.close()

['Estamos creando un archivo de texto desde Jupyter Notebook saludos 22-10-25 18:16\n', 'Este es el tema número 7 de la Materia 22-oct-25 18:20']

#### <b> <font color= #990000 > <i> Punteros en Texto

Si queremos que el puntero o cursor se coloque en una posición determinada dentro del archivo, tenemos que utilizar la función "seek" e indicarle la posición en la que estamos interesados

In [34]:
#Utilizamos el comando open, pasándole dos parámetros: El nombre del archivo y el modo en el que lo queremos abrir 
archivo_leido = open("archivo_nuevo.txt", "r")

archivo_leido.seek(10)   #Ubicamos el puntero en el caracter que se encuentra en la posición número 8

print(archivo_leido.read())

archivo_leido.close()

eando un archivo de texto desde Jupyter Notebook saludos 22-10-25 18:16
Este es el tema número 7 de la Materia 22-oct-25 18:20

Si lo que queremos es que lea desde el comienzo hasta una posición determinada, entonces la ubicacion se la indicamos dentro de la función "read"

In [36]:
#Utilizamos el comando open, pasándole dos parámetros: El nombre del archivo y el modo en el que lo queremos abrir 
archivo_leido = open("archivo_nuevo.txt", "r")

print(archivo_leido.read(7))
print(archivo_leido.read())

Estamos
 creando un archivo de texto desde Jupyter Notebook saludos 22-10-25 18:16
Este es el tema número 7 de la Materia 22-oct-25 18:20

Regresamos el puntero a la posición 0 del archivo para leer todo

In [38]:
archivo_leido.seek(0) 

print(archivo_leido.read())

archivo_leido.close()

Estamos creando un archivo de texto desde Jupyter Notebook saludos 22-10-25 18:16
Este es el tema número 7 de la Materia 22-oct-25 18:20

<b> <i> <font color=  #FF6600 > Ejercicio 1

1.- Utiliza el comando open para crear un archivo de texto que contenga al menos 120 caracteres distribuidos en tres lineas 

2.- Imprime en pantalla los caracteres que se encuentren de la posición 15 en adelante 

3.- Imprime en pantalla la segunda línea del texto

4.- Agrega una cuarta linea al archivo 

5.- Imprime los primeros 5 caracteres y, sin cerrar el archivo, imprime el texto completo contenido en él

6.- Cierra el archivo

### <font color= #33691e> <i> Archivos de Tipo CSV

#### <b> <font color= #990000 > <i> Creando un archivo csv

In [42]:
import pandas as pd 
import numpy as np

dataframe_nuevo = pd.DataFrame(np.array([["Alejandro", 1.80, 90], ["Philip", 1.80, 80], 
                                         ["Ursula", 1.75, 68]]),

                   columns=['Nombre', 'Estatura', 'Peso'])

dataframe_nuevo

      Nombre Estatura Peso
0  Alejandro      1.8   90
1     Philip      1.8   80
2     Ursula     1.75   68

In [44]:
dataframe_nuevo.to_csv("dataframe_nuevo.csv")

Si no queremos que agregue un índice

In [52]:
dataframe_nuevo.to_csv("dataframe_nuevo.csv",index=False)

#### <b> <font color= #990000 > <i> Leyendo un archivo CSV

In [68]:
#Indicamos el directorio en el que vamos a trabajar
import os
#os.chdir(r'/Users/mpmartinez/Library/CloudStorage/GoogleDrive-martha.mvargas@academicos.udg.mx/My Drive/1_clases/-3_MCD_PrograPython/_Material 2/sesion_7')
# agregar r para indicar que la cadena es raw (cruda)y la \ barra invertida no la tome como caracter de escape.

#Leemos el archivo a analizar
atletas = pd.read_csv('categorias_de_corredores.csv', sep=';', index_col=0) #Con index_col=0 le indicamos que las filas tienen un nombre

atletas

          Lugar  Genero  Edad Pais         Tiempo Velocidad
Corredor
3475       3592    Male    52  GBR  2,174,833,333   Regular
13594     13853  Female    40   NY         272.55   Regular
12012     12256    Male    31  FRA  2,652,833,333   Regular
10236     10457  Female    33   MI         256.15   Regular
9476       9686    Male    33   NY         252.25   Regular
...         ...     ...   ...  ...            ...       ...
15972     16261    Male    61  FRA  2,858,833,333   Regular
1090       1131    Male    37  GBR  1,919,166,667     Veloz
16419     16713  Female    53  IRL  2,890,166,667   Regular
13977     14241  Female    21   NY         276.05   Regular
8527       8726    Male    55  GER  2,409,666,667   Regular

[1000 rows x 6 columns]

<b> Leyendo un csv que se encuentra en un sitio de internet

In [70]:
titanic = pd.read_csv("https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv")
titanic

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500
...,...,...,...,...,...,...,...,...
882,0,2,Rev. Juozas Montvila,male,27.0,0,0,13.0000
883,1,1,Miss. Margaret Edith Graham,female,19.0,0,0,30.0000
884,0,3,Miss. Catherine Helen Johnston,female,7.0,1,2,23.4500
885,1,1,Mr. Karl Howell Behr,male,26.0,0,0,30.0000
886,0,3,Mr. Patrick Dooley,male,32.0,0,0,7.7500

### <font color= #33691e> <i> Archivos de Excel

#### <b> <font color= #990000 > <i> Creando un archivo de Excel

In [74]:
archivo_excel = pd.ExcelWriter('dataframe_excel.xlsx') #importar la librería openpyxl

dataframe_nuevo.to_excel(archivo_excel, sheet_name="Datos", index=False)

titanic.to_excel(archivo_excel, index=False, sheet_name="Titanic")

In [76]:
archivo_excel.close()

#### <b> <font color= #990000 > <i> Abriendo un archivo de Excel

Para traer la primer hoja

In [78]:
Clientes=pd.read_excel("Clientes.xlsx") #En win se debe especificar el engine ,engine="openpyxl"
Clientes

  Cliente Estado Civil  Edad
0       C      Soltero    23
1       D      Soltero    35
2       E       Casado    45
3       F      Soltero    50
4       G       Casado    37
5       B        Viudo    64
6       A   Divorciado    47
7       H       Casado    33

Para traer otra hoja

In [80]:
Clientes2=pd.read_excel("Clientes.xlsx", sheet_name="Satisfaccion")
Clientes2

  Cliente  Satisfaccion  Lealtad
0       C             6        8
1       D             4        4
2       E             9        7
3       F             5        9
4       G             6        3
5       B             5        6
6       A             2        5
7       H             2        4

<b> <i> <font color=  #FF6600 > Ejercicio 2

Utilizando los comandos de python que acabamos de ver, crea un archivo de tipo excel que contenga información en dos hojas. 

La primer hoja se llamará "Información General"

La segunda se llamará "Transacciones Septiembre"

### <font color= #33691e> <i> Archivos de Tipo JSON

Los archivos de tipo JSON (JavaScript Object Notation) están formados por listas y diccionarios, de manera que son fáciles de comprender a simple vista 

Este tipo de archivo es muy utilizado en internet debido a que requiere de poco espacio, lo que facilita la transmisión de la información

<b> Ejemplo de Archivo JSON

In [82]:
organigrama=[
  {
  "departamento":1,
  "nombre_depto":"Recursos Humanos",
  "director": "Laura Godinez",
  "empleados":[
    {
      "nombre":"Paul",
      "apellido":"Fierro"
    },{
      "nombre":"Jose",
      "apellido":"Bonilla"
    }]  
   },

  {
  "departamento":2,
  "nombre_depto":"Ingenierias",
  "director": "Salvador Medrano",
  "empleados":[
    {
      "nombre":"Carlos",
      "apellido":"Oropeza"
    },{
      "nombre":"Manuel",
      "apellido":"Medina"
    }, {
      "nombre":"Roberto",
      "apellido":"Aguirre"
    }]
  }   
]

In [84]:
organigrama

[{'departamento': 1,
  'nombre_depto': 'Recursos Humanos',
  'director': 'Laura Godinez',
  'empleados': [{'nombre': 'Paul', 'apellido': 'Fierro'},
   {'nombre': 'Jose', 'apellido': 'Bonilla'}]},
 {'departamento': 2,
  'nombre_depto': 'Ingenierias',
  'director': 'Salvador Medrano',
  'empleados': [{'nombre': 'Carlos', 'apellido': 'Oropeza'},
   {'nombre': 'Manuel', 'apellido': 'Medina'},
   {'nombre': 'Roberto', 'apellido': 'Aguirre'}]}]

#### <b> <font color= #990000 > <i> Convirtiendo un objeto JSON a un archivo JSON

In [86]:
import json
json_string = json.dumps(organigrama)

In [88]:
with open('organigrama.json', 'w') as file:
    file.write(json_string)

In [90]:
# 2. Un vez creado, leelo y muestra la información en pantalla
leer_json = open("organigrama.json", "r")
informacion = leer_json.read()
informacion = json.loads(informacion)
informacion

[{'departamento': 1,
  'nombre_depto': 'Recursos Humanos',
  'director': 'Laura Godinez',
  'empleados': [{'nombre': 'Paul', 'apellido': 'Fierro'},
   {'nombre': 'Jose', 'apellido': 'Bonilla'}]},
 {'departamento': 2,
  'nombre_depto': 'Ingenierias',
  'director': 'Salvador Medrano',
  'empleados': [{'nombre': 'Carlos', 'apellido': 'Oropeza'},
   {'nombre': 'Manuel', 'apellido': 'Medina'},
   {'nombre': 'Roberto', 'apellido': 'Aguirre'}]}]

#### <b> <font color= #990000 > <i> Creando un archivo JSON a partir de un dataframe

In [92]:
dataframe_nuevo

      Nombre Estatura Peso
0  Alejandro      1.8   90
1     Philip      1.8   80
2     Ursula     1.75   68

In [96]:
datos_personales=dataframe_nuevo.to_json(orient="records") # records, split la forma de presentar columns, tables, https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_json.html
datos_personales

'[{"Nombre":"Alejandro","Estatura":"1.8","Peso":"90"},{"Nombre":"Philip","Estatura":"1.8","Peso":"80"},{"Nombre":"Ursula","Estatura":"1.75","Peso":"68"}]'

In [98]:
import json
organizado = json.loads(datos_personales)
organizado

[{'Nombre': 'Alejandro', 'Estatura': '1.8', 'Peso': '90'},
 {'Nombre': 'Philip', 'Estatura': '1.8', 'Peso': '80'},
 {'Nombre': 'Ursula', 'Estatura': '1.75', 'Peso': '68'}]

In [106]:
with open('datos_personales.json', 'w') as archivo_json:
    json.dump(organizado, archivo_json)

#### <b> <font color= #990000 > <i> Leyendo un archivo JSON

In [108]:

leer_json = open("datos.json", "r")
informacion = leer_json.read()
informacion = json.loads(informacion)
informacion

[{'Nombre': 'Nadia Ochoa', 'Estatura': '1.5', 'Peso': '49'},
 {'Nombre': 'Fernando Robles', 'Estatura': '1.68', 'Peso': '70'},
 {'Nombre': 'Cynthia Ulloa', 'Estatura': '1.68', 'Peso': '56'}]

#### <b> <font color= #990000 > <i> Convirtiendo un archivo JSON en Dataframe

In [110]:
dataframe = pd.DataFrame.from_dict(informacion)
dataframe

            Nombre Estatura Peso
0      Nadia Ochoa      1.5   49
1  Fernando Robles     1.68   70
2    Cynthia Ulloa     1.68   56

<b> <i> <font color=  #FF6600 > Ejercicio 3

Crea un archivo json llamado "Organigrama.json" en tu computadora utilizando la información contenida en el objeto "Organigrama" 

Un vez creado, leelo y muestra la información en pantalla

### <font color= #33691e> <i> Archivos de Tipo XML

Los archivos de tipo XML (Extensible Markup Language) o Lenguaje de Marcado Extensible

Es muy similar al lenguaje HTML

A diferencia de HTML, nosotros podemos colocar las etiquetas que nosotros queramos

In [112]:
# Previamenente importar la librería XML
!pip install lxml

Requirement already satisfied: lxml in /opt/anaconda3/lib/python3.12/site-packages (5.2.1)

#### <b> <font color= #990000 > <i> Leyendo un archivo XML

In [124]:
xml_a_df = pd.read_xml('casas.xml')

xml_a_df

      n35237      n32238     n44699
0        1.0         3.0        1.0
1  7020000.0  10000000.0  4128000.0
2    35237.0     32238.0    44699.0

#### <b> <font color= #990000 > <i> Convirtiendo un Dataframe en un archivo XML

In [126]:
df_a_xml = dataframe_nuevo
df_a_xml.to_xml('df_a_xml.xml')

<b> <i> <font color=  #FF6600 > Ejercicio 4

Lee un archivo de tipo excel con la librería pandas

Muestra el archivo en pantalla

Conviertelo en un archivo xml y guárdalo en tu computadora con el nombre Ejercicio4.xml

## <font color= #0000FF> <i> Tarea

1.- Utilizando los comandos de python que vimos el dia de hoy, crea un archivo de cada tipo: (70 puntos)
    
    - Texto
    - CSV
    - Excel 
    - JSON
    - XML
    
2.- Una vez que los hayas creado, leelos en python y muestra la información contenida en ellos. (30 puntos)